# {{ ansible_managed }}
#
{% if hostvars[item.hostname].imported is defined and hostvars[item.hostname].imported == true %}
# skipping proxy for {{ item.hostname }}
{% else %}
Host {{ item.hostname }}
  Hostname {{ item.address }}
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
{% if hostvars[item.hostname].ansible_user_id is defined %}
  ProxyCommand ssh -q {{ hostvars[item.hostname].ansible_user_id }}@{{ item.host }} nc -q0 %h %p
{% else %}
  ProxyCommand ssh -q %r@{{ item.host }} nc -q0 %h %p
{% endif %}
{% if hostvars[item.hostname].ansible_ssh_private_key_file is defined %}
  IdentityFile {{ hostvars[item.hostame].ansible_ssh_private_key_file }}
{% else %}
  IdentityFile {{ opsmgr_lib }}/keys/current/opsmgr.key
{% endif %}

Host {{ item.address }}
  Hostname {{ item.address }}
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
{% if hostvars[item.hostname].ansible_user_id is defined %}
  ProxyCommand ssh -q {{ hostvars[item.hostname].ansible_user_id }}@{{ item.host }} nc -q0 %h %p
{% else %}
  ProxyCommand ssh -q %r@{{ item.host }} nc -q0 %h %p
{% endif %}
{% if hostvars[item.hostname].ansible_ssh_private_key_file is defined %}
  IdentityFile {{ hostvars[item.hostame].ansible_ssh_private_key_file }}
{% else %}
  IdentityFile {{ opsmgr_lib }}/keys/current/opsmgr.key
{% endif %}

{% endif %}


