# {{ ansible_managed }}
#
Host {{ hostvars[item].inventory_hostname }}
{% if hostvars[item].ansible_ssh_host is defined and hostvars[item].ansible_ssh_host | ipv4 %}
  Hostname {{ hostvars[item].ansible_ssh_host }}
{% else %}
  Hostname {{ hostvars[item].ansible_default_ipv4.address }}
{% endif %}
  ForwardAgent yes
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityFile {{ opsmgr_lib }}/keys/current/opsmgr.key

{% if hostvars[item].ansible_ssh_host is defined and hostvars[item].ansible_ssh_host | ipv4 %}
Host {{ hostvars[item].ansible_ssh_host }}
  Hostname {{ hostvars[item].ansible_ssh_host }}
{% else %}
Host {{ hostvars[item].ansible_default_ipv4.address }}
  Hostname {{ hostvars[item].ansible_default_ipv4.address }}
{% endif %}
  ForwardAgent yes
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityFile {{ opsmgr_lib }}/keys/current/opsmgr.key

