# {{ ansible_managed }}
#
{% for host in groups['opsmgr'] %}
Host {{ item.name }}
  Hostname {{ item.address }}
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  ProxyCommand ssh -q %r@{{ hostvars[host].ansible_default_ipv4.address }} nc -q0 %h %p
  IdentityFile ~/.ssh/opsmgr.key

{% endfor %}

