[opsmgr]

{% for host in groups['os-infra_hosts'] %}
{{ hostvars['' + host]['inventory_hostname'] }} ansible_ssh_host={{ hostvars['' + host]['ansible_ssh_host'] }}
{% endfor %}

[osa-mitaka]

{{ ansible_hostname }}

