[DEFAULT]
passphrase = {{ random_passphrase.stdout }}

[DATABASE]
connection = mysql+pymysql://{{ db_user }}:{{ db_password }}@{{ db_host }}/{{ db_name }}_{{ inventory_hostname }}

[ELK]
web_protocol = https://
web_proxy = {{ controller_ip }}
web_port = 8443

[NAGIOS]
server       = "{{ item.0.address }}"
userid       = "{{ ansible_ssh_user }}"
sshkey       = "/etc/opsmgr/opsmgr.key"
web_protocol = "http://"
web_proxy    = "{{ item.0.hostaddr }}"
web_port     = "{{ item.1.host }}"
web_path     = "/nagios"

