
[GANGLIA]
server       = "{{ item.0.address }}"
userid       = "{{ ansible_user_id }}"
sshkey       = "/etc/opsmgr/opsmgr.key"
web_protocol = "http://"
web_proxy    = "{{ item.0.hostaddr }}"
web_port     = "{{ item.1.host }}"
web_path     = "/ganglia"
