[opsmgr]
{% if groups['controller'] is defined %}
{% for host in groups['controller'] %}
{{ hostvars[host]['hostname']}} ansible_ssh_host={{ hostvars[host]['openstack_mgmt_addr'] }}
{% endfor %}
{% endif %}
{# #}
{# Backwards compatibility: Inventory files before cluster-genesis 1.2 #}
{# controllers (pural) is for older genesis inventory files #}
{% if groups['controllers'] is defined %}
{% for host in groups['controllers'] %}
{{ hostvars[host]['hostname']}} ansible_ssh_host={{ hostvars[host]['openstack_mgmt_addr'] }}
{% endfor %}
{% endif %}

[osa-newton]
{{ ansible_hostname }}

{% for group, hosts in groups.iteritems() %}
{% if group not in ('ungrouped','all','controller','controllers') %}
[{{ group }}]
{% for host in hosts %}
{{ hostvars[host]['hostname']}} ansible_ssh_host={{ hostvars[host]['openstack_mgmt_addr'] }}
{% endfor %}
{% endif %}

{# Backwards compatibility: Inventory files before cluster-genesis 1.2 #}
{# controllers (pural) also were ceph-monitors #}
{% if group == 'controllers' %}
[ceph-monitor]
{% for host in hosts %}
{{ hostvars[host]['hostname']}} ansible_ssh_host={{ hostvars[host]['openstack_mgmt_addr'] }}
{% endfor %}
{% endif %}
{% endfor %}
