# {{ ansible_managed }}
#
opsmgr_containers:
{% for container in groups['opsmgr_containers'] %}
  - name:     {{ hostvars[container].lxc.name }}
    role:     {{ hostvars[container].lxc.role }}
    mount:    {{ hostvars[container].lxc.mount }}
    ports:    {{ hostvars[container].lxc.ports }}
    address:  {{ hostvars[container].address }}
    host:     {{ hostvars[container].host }}
    hostaddr: {{ hostvars[container].hostaddr }}
    hostname: {{ container }}
{% endfor %}


