#!/usr/bin/env bash
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# LXC eth0 is considered special and not managed by the base opsmgr_lxc_nets
#  data structure. This is being added outside of the loop for this reason.
#ip link del {{ item.name[-8:].replace('-', '').replace('_', '') }}_eth0 || true

# Veth cleanup for items in the opsmgr_lxc_nets data structure
{% for value in opsmgr_lxc_nets %}
{% if value.type is not defined or value.type == 'veth' %}
ip link del {{ item.name[-8:].replace('-', '').replace('_', '') }}_{{ value.interface }} || true
{% endif %}
{% endfor %}

