[opsmgr_hosts]

{% for host in genesis.ansible_facts.nodes['controllers'] %}
{{ host.hostname }} ansible_ssh_host={{ host['openstack-mgmt-addr'] }}
{% endfor %}

[opsmgr_targets]

{{ ansible_hostname }} roles='["osa-mitaka"]'

{% for host in genesis.ansible_facts.nodes['controllers'] %}
{{ host.hostname }} ansible_ssh_host={{ host['openstack-mgmt-addr'] }} roles='["ceph-mon"]'
{% endfor %}

{% for host in genesis.ansible_facts.nodes['ceph-osd'] %}
{{ host.hostname }} ansible_ssh_host={{ host['openstack-mgmt-addr'] }} roles='["ceph-osd"]'
{% endfor %}

{% for host in genesis.ansible_facts.nodes['swift-proxy'] %}
{{ host.hostname }} ansible_ssh_host={{ host['openstack-mgmt-addr'] }} roles='["swift-proxy"]'
{% endfor %}

{% for host in genesis.ansible_facts.nodes['swift-object'] %}
{{ host.hostname }} ansible_ssh_host={{ host['openstack-mgmt-addr'] }} roles='["swift-object"]'
{% endfor %}

