# {{ ansible_managed }}
#
frontend {{ item.0.name }}-{{ item.1.name }}-front
bind *:{{ item.1.host }}
{% if item.1.name == 'http' %}
    option httplog
    option forwardfor except 127.0.0.0/8
    option http-server-close
    mode http
{% elif item.1.name == 'nrpe' %}
    option  tcplog
    timeout client 60m
    mode tcp
{% elif item.1.name == 'mysql' %}
    option  tcplog
    timeout client 60m
    mode tcp
{% endif %}
    default_backend {{ item.0.name }}-{{ item.1.name }}-back
  
backend {{ item.0.name }}-{{ item.1.name }}-back
{% if item.1.name == 'http' %}
    mode http
    balance leastconn
    option forwardfor
    option httpchk
    option httplog
{% elif item.1.name == 'nrpe' %}
    mode tcp
    balance source
    timeout server 60m
{% elif item.1.name == 'mysql' %}
    mode tcp
    balance leastconn
    option mysql-check user monitoring
    timeout server 60m
{% endif %}
