{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Inventory" %}{% endblock %}

{% block page_header %}
   {% include "horizon/common/_page_header.html" with title=_("Inventory") %}
{% endblock page_header %}

{% block main %}
<p>The Operational Management Inventory panel lists preconfigured resources in your environment.  From this panel, you can add, edit, and remove resources from inventory.  You can also open additional interfaces for monitoring and logging.
<br />
<br />
      <button class="button" onClick="launchApplication(1);"><span class="icon">Launch Monitor Application</span></button>
      <button class="button" onClick="launchApplication(2);"><span class="icon">Launch Logging Application</span></button>
<div class="row">
   <div class="col-sm-12">
   {{ tab_group.render }}
   </div>
</div>
{% endblock %}
