{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Inventory" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_domain_page_header.html" with title=page_title %}
{% endblock page_header %}

{% block main %}
<p>The Operational Management Inventory panel lists preconfigured resources in your environment.  From this panel, you can add, edit, and remove resources from inventory.  You can also open additional interfaces by launching related applications.
<br />
<br />
    <table>
        <tr class="odd gradeX">
            <td class="col-lg-3">
                <label>Capabilities View:</label>
        </td>
        <td>        
                <select id="capabilitiesSelector" class="form-control" name="capSelector" onclick="updateView()" >
                    <option class='select' value="" default>Show all resources</option>
                </select>
        </td>
        <td>
                &nbsp;&nbsp;<button id="capLaunchButton" class="button" onClick="launchApplication();"><span class="icon">Launch Selected Capability</span></button>
        </td>
    </table>
<br />
<div class="row">
    <div class="col-sm-12">
        {{ tab_group.render }}
    </div>
</div>
<script>
// Populate the capabilities view selector with capabilities options
var refRacks = document.getElementById('inventoryRacks_tabs');
var refSelector = document.getElementById('capabilitiesSelector')
for (var i = 0, atts = refRacks.attributes, n = atts.length; i < n; i++){
    var attrib = atts[i].nodeName;

    // All of the 'application URL' attributes' nodeName will have two parts
    // (separated by '::').  The first part is the capability function
    // (e.g. monitoring), and the second part is the name of the application
    // (e.g. nagios) that is applicable to that capability
    if(attrib.indexOf('::') > -1) {
        var optionParts = attrib.split('::');
        var optName = optionParts[0];
        var optVal = attrib;
        var appName = optionParts[1];

        // Create new option for the capability
        var opt = document.createElement('option');
        opt.value = optVal;
        // We want the displayable part of the option to be:
        // 'capability (app name)' (e.g. "Monitoring (nagios)")
        opt.innerHTML = optName.substring(0,1).toUpperCase() + optName.substring(1) + " (" + appName + ")";
        refSelector.appendChild(opt);
    }
}

function launchApplication(link) {
    // Retrieve the selected capability to determine the application to launch
    selCap = document.getElementById('capabilitiesSelector').value;

    // The tab group contains the URL to launch as an attribute
    var refRacks = document.getElementById('inventoryRacks_tabs');
    if (selCap != "") {
        // Open a window to the capability's application
        window.open(refRacks.getAttribute(selCap), 'Application_' + selCap);
    }
}

function updateView() {
    // Retrieve the selected capability view (first part of the option (e.g. monitoring::nagios))
    var selView = (document.getElementById('capabilitiesSelector').value).split('::')[0]

    // Retrieve all input fields on the page
    var all_input_fields = document.getElementsByTagName("input")

    // Identify the resource filter input fields and do our filtering
    for(var x=0; len = all_input_fields.length, input_field = all_input_fields[x], x < len; x++)
    { // This input field is for the resource input field
       if (input_field && (input_field.name).indexOf("resource_filter") > 0) 
       {
          input_field.value = selView.toLowerCase();
          input_field.click()
       } 
    } 
}
</script>
{% endblock %}
