{% block main %}
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="toupdate" id="rackDetailsLink">Rack Details</a>
      </h4>
    </div>
    <div class=" panel-collapse collapse" id="rackDetailsSection">
      <div class="panel-body"> {{ rack_details_table.render }}</div>
    </div>
  </div>
</div>

<div class="panel-group">
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="toupdate" id="rackResourcesLink">Rack Resources</a>
      </h4>
    </div>
    <div class=" panel-collapse collapse in" id="rackResourcesSection" >
      <div class=" rackResourcesTable panel-body" id="rackResourcesView">
         {{ resources_table.render }}</div>
    </div>
  </div>
</div>
<script type="text/javascript">
   /* Retrieve the elements in the GUI whose IDs we need to adjust 
      to support multi-rack (elements for collapsable sections)
   */
   var detailsSection = document.getElementById('rackDetailsSection');
   var detailsLink = document.getElementById('rackDetailsLink');
   var resourcesSection = document.getElementById('rackResourcesSection');
   var resourcesLink = document.getElementById('rackResourcesLink');

   // Generate a (mostly) unique id
   var id = guidGenerator();

   // Set unique IDs for rack details section
   detailsSection.id = "rackDetails_" + id;
   detailsLink.href = "#" + detailsSection.id
   detailsLink.id = "rackDetailsLink_" + id;

   // Set unique IDs for the rack resources section
   resourcesSection.id = "rackResources_" + id;
   resourcesLink.href = "#" + resourcesSection.id
   resourcesLink.id = "rackResourcesLink_" + id;

   // Make sure update view function is defined -- we've seen cases where
   // it's not (when page is first displayed in multi-rack environment
   // and you're not on the initial rack tab)
   if (typeof(updateView) == "function") 
   {  // Update the table based on capabilities view selected
      updateView();
   }
   
function guidGenerator() {
    var S4 = function() {
       return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
    };
    return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
};
</script>
{% endblock %}



