frontend logstash-front
bind *:5140
    option tcplog
    mode tcp
    default_backend logstash-back

backend logstash-back
    mode tcp
    balance leastconn
{% for host_name in groups['logstash'] %}
    server {{ host_name }} {{ hostvars[host_name]['ansible_ssh_host'] }}:5140 check port 5140 inter 12000 rise 2 fall 2
{% endfor %}
