# {{ ansible_managed }}
#
Host {{ inventory_hostname }}
  Hostname {{ hostvars[inventory_hostname].address }}
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
{% if ansible_user_id is defined %}
  ProxyCommand ssh -q {{ ansible_user_id }}@{{ hostvars[inventory_hostname].host }} nc -q0 %h %p
{% else %}
  ProxyCommand ssh -q %r@{{ hostvars[inventory_hostname].host }} nc -q0 %h %p
{% endif %}
{% if ansible_ssh_private_key_file is defined %}
  IdentityFile {{ ansible_ssh_private_key_file }}
{% else %}
  IdentityFile {{ opsmgr_lib }}/keys/current/opsmgr.key
{% endif %}

Host {{ hostvars[inventory_hostname].address }}
  Hostname {{ hostvars[inventory_hostname].address }}
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
{% if ansible_user_id is defined %}
  ProxyCommand ssh -q {{ ansible_user_id }}@{{ hostvars[inventory_hostname].host }} nc -q0 %h %p
{% else %}
  ProxyCommand ssh -q %r@{{ hostvars[inventory_hostname].host }} nc -q0 %h %p
{% endif %}
{% if ansible_ssh_private_key_file is defined %}
  IdentityFile {{ ansible_ssh_private_key_file }}
{% else %}
  IdentityFile {{ opsmgr_lib }}/keys/current/opsmgr.key
{% endif %}

